 /* here you can put your own css to customize and override the theme */
.no-padding {
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	}
.no-border tr td{
	border-width:0 !important;
	text-align: center;
	}
.bar-chart-height {
	height: 300px ;
	display: visible;
	}
.padding-left{
	padding-top: 1%;
	padding-left: 1%;	
	}
.dropdown-portal {
	margin: 0 !important;
	padding: 0 !important;
}

.custom-red {
	background-color: #E02222 !important;
	}

.hidden {
	display:none;
}

.hiddenTimeline {
	display:none;
}

.iconheight {
  line-height: 38px !important;
  }
 
 .timelineHeading {
 display: inline-block;
 width: 96%;
 }
 
td p.name{
color: #473E3E !important;

}

.btn-primary-radio{
	background-color: rgba(66, 139, 202, 0.67) !important ;
}

.btn-primary-radio:hover{
	background-color: #3276B1 !important ;
}

.btn-primary-radio  .active{
	background-color: #3276B1 !important ;
}


.btn-danger-radio{
	background-color: rgba(217, 83, 79, 0.69) !important ;
}

.btn-danger-radio:hover{
	background-color: #D43F3A !important ;
}

.btn-danger-radio .active{
	background-color: #D43F3A !important ;
}

.switch .checker  span{
	display: initial;
}

.override span {
	width: 19px;
	height: 19px;
}

.uploadFiles a{
	color: #FFF;

}

.stripedForm:nth-of-type(odd){
	background-color: #EEE;
}


.no-padding{
padding: 0px !important;
}

.no-margin{
	margin-left: 0px !important;
	margin-right: 0px !important;
	}
	
.title-label{
	font-family: 'Open Sans';
	font-size: larger;
	color: #666;
}

.tmf-ooo .bootstrap-switch-container {
	width: 151% !important;
}

.label-small{
	font-size: small;
}

.ColVis {
	float:left !important;
}

.ColVis_collection {
	width: 250px !important;
}
.ColVis_collection label {
	font-size: 12px !important;
}
.ColVis_collection input[type=checkbox] {
	margin: 3px !important;
}

ul.ColVis_collection {
	width: 700px !important;
}

ul.ColVis_collection li{
	width: 224px !important;
	float: left !important;
	padding: 4px !important;
}
.ColVis_collection label{
	margin-bottom: 0 !important;
}

.ColVis select {
	height: 30px;
	padding: 3px 8px;
}

#placeholder{
	width: 80% !important;
	height: 200px !important;
}

#legend td {
	padding: 2px;
}

.dataTable thead  tr th {
	font-size: 12px;
	font-weight: 500;
}
.multiselect.btn-default {
	padding: 4px 13px ;
	box-shadow: 1px 1px 3px #CCC;
	border: 1px solid #999;
}

.highcharts-container {

    width: 100% !important;
}

#reportRange {
    padding: 4px 13px ;
    box-shadow: 1px 1px 3px #CCC;
    border: 1px solid #999;
    background-color: #fff;
}

.dataTable {
    margin-top : 0 !important;
}

.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}


.varianceTable td{
    width: 25%;
}

.varianceTable {
    width: 100%;
}

#downloadFiles a {
    color: white;
}

